header{
  width:100%;
  background-color:#f2f2f2;
  position:absolute;
  top:0px;
  left:0px;
  height:100px;
}

header h1{
  margin:0px;
  padding:0px;
  color:#660033;
}

header h2{
  margin:0px;
  padding:0px;
  color:#660033;
}

header p{
  margin:0px;
  padding:0px;
  color:#660033;
}

#subhead1{
  float:left;
  clear:left;
}

#subhead2{
  float:right;
  clear:right;
}

ul{
  list-style-type:none;
  margin:0px;
  padding-top:90px;
  position:fixed;
  right:0px;
}

li{
  padding-top:67px;
  text-align:center;
  width:500px;
}

@keyframes extend {
    0%   {padding-left:0px;padding-right:0px;}
    100% {padding-left:250px;padding-right:250px;}
}

a:link{
  padding-top:34px;
  padding-left:250px;
  padding-bottom:34px;
  padding-right:250px;
}

img{
  margin-top:100px;
  margin-left:235px;
}

#caption{
  margin-left:235px;
  color:white;
}

#link1{
  animation-name: extend;
  animation-duration: 4s;
  background-color:#7070db;
}

#sandra{
  background-color:#7070db;
  width:72%;
  height:100%;
  position:absolute;
  top:100px;
}

#link2{
  animation-name: extend;
  animation-duration: 3s;
  background-color:#ff80aa;
}

#annie{
  background-color:#ff80aa;
  width:72%;
  height:100%;
  position:absolute;
  top:100px;
  display:none;
}

#link3{
  animation-name: extend;
  animation-duration: 5s;
  background-color:#ffcc66;
}

#emily{
  background-color:#ffcc66;
  width:72%;
  height:100%;
  position:absolute;
  top:100px;
  display:none;
}

#link4{
  animation-name: extend;
  animation-duration: 3s;
  background-color:#99ff99;
}
#link5{
  animation-name: extend;
  animation-duration: 6s;
  background-color:#99ffff;
}
#link6{
  animation-name: extend;
  animation-duration: 4s;
  background-color:#cc99ff;
}

#link7{
  animation-name: extend;
  animation-duration: 5s;
  background-color:#ffff66;
}
#link8{
  animation-name: extend;
  animation-duration: 3s;
  background-color:#ff9999;
}

#link9{
  animation-name: extend;
  animation-duration: 2s;
  background-color:#80ffbf;
}

#link10{
  animation-name: extend;
  animation-duration: 4s;
  background-color:#a64dff;
}
#link11{
  animation-name: extend;
  animation-duration: 3s;
  background-color:#ff99ff;
}
