/* A back button for each student project site which includes:
- A recognizable colorscheme
- A white arrow
- A dropshadow
- A z-position
- A touchscreen capability */

#return-to-main div {
    z-index: 100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 110px;
    width: 110px;
    background-color: #ffd633;
    position: fixed;
    left: 0px;
    bottom: 200px;
    filter: drop-shadow(8px 4px 10px #333);
}

#return-to-main svg {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    filter: drop-shadow(8px 4px 10px #333);
}
